.feedback-form,
.feedback-form * {
  box-sizing: border-box;
}
.feedback-form {
  background: #ffffff;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 408px;
  height: 296px;
  margin: auto;
}

.email-message,
.input-email,
.textarea-message {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  color: #2e2f42;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-weight: 400;
}

.feedback-form input,
.feedback-form textarea {
  box-sizing: border-box;
  border-radius: 4px;
  border-style: solid;
  border-color: #808080;
  border-width: 1px;
  width: 360px;
  height: 40px;
}

.feedback-form textarea {
  height: 80px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #000000;
  outline: none;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  outline: none;
}

.feedback-form button {
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: left;
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-weight: 500;
}

.feedback-form button:hover {
  background: #6c8cff;
}
